!!! 5
html
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    meta( name='viewport', content='width=1024' )
    meta(xmlns:fb='http://ogp.me/ns/fb#')  
    title A10k chat engine !!
   
    link( rel='stylesheet', href='/stylesheets/all-'+(assetManager.cacheHashes.css || '007')+'.css' )
    script( src='/javascripts/vendor/modernizr-2.5.3.min.js' )
  body
    #fb-root
    script 
       window.fbAsyncInit = function() {
          FB.init({
            appId      : '329336153831394', 
            channelUrl : 'radiant-tor-7223.herokuapp.com', 
            status     : true, 
            cookie     : true,  
            xfbml      : true   
          });
          //for wall post on start up
          FB.ui({ 
            method: 'feed' 
          });
        };
        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));

    #page( class='index')
      #inner
        header
          h1
            | a 
            span.ko 10
            |  k 
          br 
          br
          img(id="image") 
          #name  
          :markdown
            This a chat game designed and developed by Alok ! walk around and meet other players. Have fun..Click on the lamp post to turn off this message..
          .fb-comments(data-href='https://radiant-tor-7223.herokuapp.com', data-num-posts='1', data-width='417')
          .fb-like(data-href="https://apps.facebook.com/gitamapp/#" ,data-send="true" ,data-layout="button_count" ,data-width="700" ,data-show-faces="true" ,data-colorscheme="dark" ,data-font="segoe ui")

    script( src='/socket.io/socket.io.js' )
    script( src='/javascripts/all-'+(assetManager.cacheHashes.js || '007')+'.js' )
    script
      $(function() {
        if (nko.me)
          nko.me.div.prop('title', null);
      });
