:markdown
  Node.js Knockout is a 48-hour node.js hackathon. For more info, check out
  the [rules] or [last year's winners].

  [rules]: /rules
  [last year's winners]: http://2011.nodeknockout.com/

